@model Test_Online.Models.Member


@using (Ajax.BeginForm("Update", "Acount", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "checkName" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" style="height:500px">
       
        <div class="modal-content">
            <div class="modal-header">

                <div class="signin-form profile" style="height:400px">
                    <h3 class="agileinfo_sign">Thành tích học tập</h3>
                    <hr />
                    <div class="login-form">
                        <div class="w3layouts_mail_grid">
                            <div class="col-md-4 agileits_mail_grid_left agileinfo_mail_grid_left">
                                <div class="agileits_mail_grid_lft_grid wthree_mail_grid_lft_grid">
                                    <ul>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Số câu hỏi trả lời đúng : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Số câu hỏi đã làm : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Số tài liệu tải lên : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Thứ tự xếp hạng : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Chủ đề cần cải thiện : </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>
}



