@using Test_Online.Models
@model Member

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";

    Member member = (Member)Session["member"];

}

<div class="container" style="margin-top:50px; margin-bottom:300px">
    <div class="col-md-3">
        <div style="text-align:center">
            @if (member.image != null)
            { 
                <img src = "@Url.Content("~/Content/common/images/" + member.image)" width = "250" height = "250" />
            }
            else
            {
                <img src="~/Content/web/images/default_user.png" width="250" height="250" />
            }
        </div>
        @using (Ajax.BeginForm("PractiseResult", "Acount", new AjaxOptions { @UpdateTargetId = "AjaxReplace", InsertionMode = InsertionMode.Replace }))
        {
            <div style="background-color:#ae1d1d;text-align:center; margin-top:10px;">
                <input type="submit" value="@member.Name" style="background-color:#ae1d1d; border:0px solid black; font-weight:bold; color:white;font-size:25px" width="350" />
            </div>
        }
        @using (Ajax.BeginForm("ChangeInfomation", "Acount", new AjaxOptions { @UpdateTargetId = "AjaxReplace", InsertionMode = InsertionMode.Replace }))
        {
            <div style="background-color:#808080;text-align:center; margin-top:10px">
                <input type="submit" value="Thay đổi thông tin" style="font-weight:bold; background-color:#808080;border:0px solid black;color:white; font-size:18px" width="350" />
            </div>
        }
        @using (Ajax.BeginForm("UploadDocument", "Acount", new AjaxOptions { @UpdateTargetId = "AjaxReplace", InsertionMode = InsertionMode.Replace }))
        {
            <div style="background-color:#808080;text-align:center; margin-top:10px">
                <input type="submit" value="Up load tài liệu" style="font-weight:bold; background-color:#808080;border:0px solid black;color:white; font-size:18px" width="350" />
            </div>
        }
        @using (Ajax.BeginForm("ChangeInfomation", "Acount", new AjaxOptions { @UpdateTargetId = "AjaxReplace", InsertionMode = InsertionMode.Replace }))
        {
            <div style="background-color:#808080;text-align:center; margin-top:10px">
                <input type="submit" value="Gửi câu hỏi về hệ thống" style="font-weight:bold; background-color:#808080;border:0px solid black;color:white; font-size:18px" width="350" />
            </div>
        }
    </div>
    <div class="col-md-9" id="AjaxReplace" style="height:500px">
        <div class="modal-content">
            <div class="modal-header">

                <div class="signin-form profile" style="height:400px">
                    <h3 class="agileinfo_sign">Thành tích học tập</h3>
                    <div class="login-form">
                        <div class="w3layouts_mail_grid">
                            <div class="col-md-4 agileits_mail_grid_left agileinfo_mail_grid_left">
                                <div class="agileits_mail_grid_lft_grid wthree_mail_grid_lft_grid">
                                    <ul>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Số câu hỏi trả lời đúng : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Số câu hỏi đã làm  : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Số tài liệu tải lên : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Thứ tự xếp hạng : </li>
                                        <li style="float:left"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Chủ đề cần cải thiện : </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>
