
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorRole</title>
</head>
<body>
    @*<script>
        alert("Truy cập không hợp lệ !!!");
       
    </script>*@
    <div style="text-align:center">
        <h2>Truy cập không hợp lệ !!! </h2>
        <a href="@Url.Action("Index", "Home")">Trở về trang chủ</a>
    </div>
</body>
</html>
