
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align:center"> 
        <h2>Server đang bảo trì xin vui lòng quay lại sau </h2>
    </div>
</body>
</html>
