
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div style="text-align:center">
        <h2>Không tìm thấy trang này !!!!!!</h2>
    </div>
</body>
</html>
