<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XuatDDH</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2>Hello world</h2>
    </div>
    <a href="@Url.Action("Export", "Exam", new {@url = Request.Url.ToString() })">Tạo file</a>
</body>
</html>
