@model Test_Online.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Layout/admin/Admin_Layout.cshtml";
}

<h2>Tạo mới tin tức</h2>

@using (Html.BeginForm("Save", "News_Admin", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="control-label col-md-2">Tiêu đề</span>
            <div class="col-md-8">
                <input type="text" class="textarea form-control" name="title" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Nội dung</span>
            <div class="col-md-8">
                <input type="text" class="textarea form-control" name="Content" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Ảnh</span>
            <div class="col-md-5">
                <input type="file" name="image" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("#date").datepicker();
    });
    tinymce.init({
        selector: ".textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
