<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            <li>
                <div class="w3layouts-banner-top">

                    <div class="container">
                        <div class="agileits-banner-info">
                            <span>Education</span>
                            <h3>For the Creatives</h3>
                            <p>You can learn anything</p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="container">
                        <div class="agileits-banner-info">
                            <span>Free</span>
                            <h3>Premium Courses</h3>
                            <p>You only have to know one thing</p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="container">
                        <div class="agileits-banner-info">
                            <span>Education</span>
                            <h3>For the Creatives</h3>
                            <p>You can learn anything.</p>

                        </div>

                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
