@model Test_Online.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Layout/admin/Admin_Layout.cshtml";
}

<h2>Tạo mới câu hỏi</h2>

@using (Html.BeginForm("Save", "Question", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col-md-10">
            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Môn học</span>
                <div class="col-md-12">
                    @Html.DropDownList("Subject_Id", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Chủ đề</span>
                <div class="col-md-12">
                    @Html.DropDownList("Topic_id", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Đề bài</span>
                <div class="col-md-12">
                    <input type="text" name="Title" class="textarea" />
                </div>
            </div>
            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Lời giải</span>
                <div class="col-md-12">
                    <input type="text" name="Solution" class="textarea" />
                </div>
            </div>

            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Đáp án 1</span>
                <div class="col-md-12">
                    <input type="text" name="answer1" class="textarea" />
                </div>
            </div>
            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Đáp án 2</span>
                <div class="col-md-12">
                    <input type="text" name="answer2" class="textarea" />
                </div>
            </div>
            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Đáp án 3</span>
                <div class="col-md-12">
                    <input type="text" name="answer3" class="textarea" />
                </div>
            </div>
            <div class="form-group">
                <span class="control-label" style="float:left;margin-left : 20px">Đáp án 4</span>
                <div class="col-md-12">
                    <input type="text" name="answer4" class="textarea" />
                </div>
            </div>

            <div class="form-group">
                <div class="control-label" style="float:left;margin-left : 20px">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $("#date").datepicker();
    });
    tinymce.init({
        selector: ".textarea",
        paste_data_images: true,
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste",
            "insertdatetime media table contextmenu paste imagetools"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
