
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/web/Home_Layout.cshtml";
}

<div class="banner-bottom">
    <div class="container">
        <h4 class="w3l_header w3_agileits_header">Tin tức giáo dục</h4>
        <div class="agileits_banner_bottom_grids">
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/1.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/2.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/3.jpg" alt=" " class="img-responsive" />
                  
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/4.jpg" alt=" " class="img-responsive" />
                   
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <h4 class="w3l_header w3_agileits_header">Ôn tập theo chủ đề</h4>
        <div class="agileits_banner_bottom_grids">
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/1.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/2.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/3.jpg" alt=" " class="img-responsive" />

                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/4.jpg" alt=" " class="img-responsive" />

                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>


        <h4 class="w3l_header w3_agileits_header">Thành viên tiêu biểu</h4>
        <div class="agileits_banner_bottom_grids">
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/1.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/2.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/3.jpg" alt=" " class="img-responsive" />

                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="col-md-3 agileits_banner_bottom_grid">
                <div class="hovereffect w3ls_banner_bottom_grid">
                    <img src="~/Content/web/images/4.jpg" alt=" " class="img-responsive" />

                </div>
                <div class="w3-agile-post-info">
                    <h4><a href="#">Quisque a rhoncus</a></h4>
                    <span style="font-size: 10px; font-style:italic; color:darkslateblue">By admin</span>
                    <span style="font-size: 10px; font-style:italic; color:#ef5050">25-10-2017</span>
                    <p>Suspendisse in nisl at ipsum molestie dignissim.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>


    </div>
</div>




