@using Test_Online.Models
@model IEnumerable<Member>

@{
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
    ViewBag.Title = "Thành viên";
    Layout = "~/Areas/Admin/Views/Layout/admin/Admin_Layout.cshtml";
}

<div class="header">
    <h2>Quản Lý Thành Viên</h2>
    <div style="height:1px;background-color:black; margin-top: 10px"></div>

</div>

@if (Model != null)
{
    @grid.GetHtml(
        tableStyle: "table",
        headerStyle: "gridHead",
        footerStyle: "gridFooter",
        rowStyle: "gridRow",
        alternatingRowStyle: "gridAltRow",
        columns: grid.Columns(
             grid.Column("Id", "Mã Môn Học"),
             grid.Column("Type_Member_Id", "Tên Môn Học"),
             grid.Column("Name", "Mã Môn Học"),
             grid.Column("Email", "Tên Môn Học"),
             grid.Column("Rank", "Mã Môn Học"),
             grid.Column(format: p => @Html.ActionLink("Sửa", "Edit", "Member_Admin", new { Id = p.Id }, null)),
             grid.Column(format: p => @Html.ActionLink("Xóa", "Delete", "Member_Admin", new { Id = p.Id }, null))
        )
    )
}
else
{

}
<style>
    .gridFooter {
        border: 1px solid black;
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }

    .gridRow {
        background-color: #e6d8d8;
    }

    .header {
        text-align: center;
        margin-top: 20px;
    }
</style>

